.form {
  .item {
    width: 100%;
  }
  input {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  button {
    display: flex;
    align-items: center;
    .icon {
      margin-right: 0.5em;
    }
  }
}

.dn {
  display: none !important;
}
